@import "tailwindcss";

:root {
  --bg-dark: #0a0a0a;
  --bg-darker: #050505;
  --text-primary: #e5e5e5;
  --text-secondary: #a0a0a0;
  --border-color: #1a1a1a;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Instrument Sans", sans-serif;
  letter-spacing: -0.01em;
  line-height: 1.6;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-darker);
}

::-webkit-scrollbar-thumb {
  background-color: var(--border-color);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent-sky-blue);
}

* {
  scrollbar-color: var(--border-color) var(--bg-darker);
  scrollbar-width: thin;
}
